@import url("../../assets/reset.css");

.notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: var(--notify-color);
  padding: 3px;
}

.notification-wrapper p {
  font-size: 1.2rem;
}
